/* ---------- Basic ---------- */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}


/* ---------- Fonts ---------- */

@font-face {
    font-family: 'Roboto';
    src: local('Roboro'),
    url(../fonts/RobotoRegular.woff2) format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboro'), 
    url(../fonts/RobotoBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;

.container {
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
}