/* ---------- Basic ---------- */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}


/* ---------- Fonts ---------- */

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
    url(../fonts/RobotoRegular.woff2) format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), 
    url(../fonts/RobotoBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1370px;
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__container {
    display: flex;
    align-items: center;
    padding: 30px 0;
    padding-left: 582.5px;
}

.logo {
    display: inline-block;
}

.nav {
    margin-left: auto;
}

.nav__list {
    display: flex;
}

.nav__item {
    text-transform: uppercase;
}

.nav__item:not(:last-child) {
    margin-right: 40px;
}

.hero {
    background-image: url(../img/hero_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 504px;
    padding-top: 193px;
    margin: 0 auto;
}

.hero__title {
    font-weight: 400;
    font-size: 43px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 12px;
}

.hero__subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 28px;
}

.hero__link {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__link:hover {
    text-decoration: underline;
}