/* ---------- Basic ---------- */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}


/* ---------- Fonts ---------- */

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'),
    url(../fonts/RobotoRegular.woff2) format('woff2');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), 
    url(../fonts/RobotoBold.woff2) format('woff2');
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

/* ---------- END Fonts ---------- */

.nav {
    padding: 0 15px;
}

.nav__list {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list-left {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.nav__list-centr {
    padding: 15px;
}

.nav__item {
    text-transform: uppercase;
}

.nav__item:not(:last-child) {
   
}

.hero {
    background-image: url(../img/hero_bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    height: 504px;
    padding-top: 193px;
    margin: 0 auto;
    margin-bottom: 80px;
}

.hero__title {
    font-weight: 400;
    font-size: 43px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 12px;
}

.hero__subtitle {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 28px;
}

.hero__link {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero__link:hover {
    text-decoration: underline;
}

.design_inspires__top {
    margin-bottom: 80px;
}

.design_inspires__title {
    margin: 0;
    margin-bottom: 23px;
    font-weight: 400;
    font-size: 43px;
    line-height: 58px;
    text-align: center;
    color: #000000;
}

.design_inspires__subtitle {
    margin: 0;
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #A0A0A0;
}

.design_inspires__link {
    display: block;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #000000;
}

.design_inspires__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
}